USE [master]
GO
/****** Object:  Database [dentist]    Script Date: 7/31/2022 3:20:28 PM ******/
CREATE DATABASE [dentist]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dentist].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dentist]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 7/31/2022 3:20:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date_of_birth] [date] NOT NULL,
	[email] [varchar](50) NULL,
	[full_name] [nvarchar](30) NOT NULL,
	[gender] [int] NOT NULL,
	[password] [nvarchar](max) NOT NULL,
	[phone] [varchar](10) NULL,
	[status] [decimal](1, 0) NOT NULL,
	[district_id] [int] NOT NULL,
	[role_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointment]    Script Date: 7/31/2022 3:20:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[appointment_date] [date] NOT NULL,
	[appointment_time] [varchar](255) NOT NULL,
	[note] [nvarchar](max) NULL,
	[status] [decimal](1, 0) NOT NULL,
	[time_making] [datetime2](7) NOT NULL,
	[account_id] [int] NOT NULL,
	[branch_id] [int] NOT NULL,
	[doctor_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointment_Detail]    Script Date: 7/31/2022 3:20:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointment_Detail](
	[appointment_id] [int] NOT NULL,
	[service_id] [int] NOT NULL,
	[discount_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[appointment_id] ASC,
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branch]    Script Date: 7/31/2022 3:20:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branch](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[close_time] [time](7) NOT NULL,
	[name] [nvarchar](30) NOT NULL,
	[open_time] [time](7) NOT NULL,
	[status] [decimal](1, 0) NOT NULL,
	[url] [varchar](max) NOT NULL,
	[district_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discount]    Script Date: 7/31/2022 3:20:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discount](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[end_date] [date] NOT NULL,
	[name] [nvarchar](30) NOT NULL,
	[percentage] [float] NOT NULL,
	[start_date] [date] NOT NULL,
	[status] [decimal](1, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discount_Service]    Script Date: 7/31/2022 3:20:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discount_Service](
	[discount_id] [int] NOT NULL,
	[service_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[discount_id] ASC,
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[District]    Script Date: 7/31/2022 3:20:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[District](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](30) NOT NULL,
	[province_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctor]    Script Date: 7/31/2022 3:20:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[name] [nvarchar](30) NOT NULL,
	[status] [decimal](1, 0) NOT NULL,
	[url] [varchar](max) NOT NULL,
	[branch_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 7/31/2022 3:20:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[content] [nvarchar](150) NOT NULL,
	[status] [decimal](1, 0) NOT NULL,
	[time] [date] NOT NULL,
	[appointment_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 7/31/2022 3:20:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[account_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Province]    Script Date: 7/31/2022 3:20:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Province](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 7/31/2022 3:20:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 7/31/2022 3:20:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[estimated_time] [float] NOT NULL,
	[max_price] [float] NOT NULL,
	[min_price] [float] NOT NULL,
	[name] [nvarchar](30) NOT NULL,
	[status] [decimal](1, 0) NOT NULL,
	[url] [varchar](max) NOT NULL,
	[service_type_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceType]    Script Date: 7/31/2022 3:20:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceType](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[name] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([id], [date_of_birth], [email], [full_name], [gender], [password], [phone], [status], [district_id], [role_id]) VALUES (1, CAST(N'2001-09-09' AS Date), N'1234@gmail.com', N'Nguyễn Trung Hiếu', 1, N'$2a$10$nbRlmsNRpZxPgsN1q5h7PuE5auLI4UTEWEg9v/qKjvYCws2WbR1Nu', N'0987121963', CAST(1 AS Decimal(1, 0)), 1, 1)
INSERT [dbo].[Account] ([id], [date_of_birth], [email], [full_name], [gender], [password], [phone], [status], [district_id], [role_id]) VALUES (2, CAST(N'2001-09-27' AS Date), N'', N'Hồ Nguyễn Trung Hiếu', 2, N'$2a$10$95poxOVWF5hdbV.EDGeZMuze3ustiKwHyEsMn4vjsD/NTS5yd0Vla', N'0345741884', CAST(1 AS Decimal(1, 0)), 1, 3)
INSERT [dbo].[Account] ([id], [date_of_birth], [email], [full_name], [gender], [password], [phone], [status], [district_id], [role_id]) VALUES (3, CAST(N'2001-03-03' AS Date), N'', N'Quỳnh Phương Anh', 1, N'$2a$10$95poxOVWF5hdbV.EDGeZMuze3ustiKwHyEsMn4vjsD/NTS5yd0Vla', N'0345741885', CAST(1 AS Decimal(1, 0)), 1, 3)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Appointment] ON 

INSERT [dbo].[Appointment] ([id], [appointment_date], [appointment_time], [note], [status], [time_making], [account_id], [branch_id], [doctor_id]) VALUES (16, CAST(N'2022-01-08' AS Date), N'08:00-10:30', NULL, CAST(6 AS Decimal(1, 0)), CAST(N'2022-01-01T07:53:44.6880000' AS DateTime2), 4, 3, 6)
INSERT [dbo].[Appointment] ([id], [appointment_date], [appointment_time], [note], [status], [time_making], [account_id], [branch_id], [doctor_id]) VALUES (17, CAST(N'2022-01-08' AS Date), N'09:00-11:00', N'Tình trạng răng chưa đủ điều kiện để trám răng vàng, quay lại tía khám sau 2 tuần', CAST(1 AS Decimal(1, 0)), CAST(N'2022-01-01T07:54:53.7580000' AS DateTime2), 5, 2, 4)
INSERT [dbo].[Appointment] ([id], [appointment_date], [appointment_time], [note], [status], [time_making], [account_id], [branch_id], [doctor_id]) VALUES (18, CAST(N'2022-01-06' AS Date), N'07:00-09:30', NULL, CAST(1 AS Decimal(1, 0)), CAST(N'2022-01-01T07:55:48.1010000' AS DateTime2), 6, 1, 2)
GO
SET IDENTITY_INSERT [dbo].[Appointment] OFF
GO
INSERT [dbo].[Appointment_Detail] ([appointment_id], [service_id], [discount_id]) VALUES (16, 1, NULL)
INSERT [dbo].[Appointment_Detail] ([appointment_id], [service_id], [discount_id]) VALUES (16, 2, NULL)
INSERT [dbo].[Appointment_Detail] ([appointment_id], [service_id], [discount_id]) VALUES (16, 4, NULL)
GO
SET IDENTITY_INSERT [dbo].[Branch] ON 

INSERT [dbo].[Branch] ([id], [close_time], [name], [open_time], [status], [url], [district_id]) VALUES (1, CAST(N'18:00:00' AS Time), N'Chi nhánh số 1', CAST(N'07:00:00' AS Time), CAST(1 AS Decimal(1, 0)), N'174In8lBDntk5svw_wfWQJ0HMzztp91CR', 7)
INSERT [dbo].[Branch] ([id], [close_time], [name], [open_time], [status], [url], [district_id]) VALUES (2, CAST(N'19:00:00' AS Time), N'Chi nhánh số 2', CAST(N'08:00:00' AS Time), CAST(1 AS Decimal(1, 0)), N'1F8oal-H8l44usjfRBORO7YOWt142DKzr', 1)
INSERT [dbo].[Branch] ([id], [close_time], [name], [open_time], [status], [url], [district_id]) VALUES (3, CAST(N'20:00:00' AS Time), N'Chi nhánh Thủ Đức', CAST(N'08:00:00' AS Time), CAST(1 AS Decimal(1, 0)), N'1nPqngCHjZoNKQMuBDlFTJP2i82M7_50L', 15)
SET IDENTITY_INSERT [dbo].[Branch] OFF
GO
SET IDENTITY_INSERT [dbo].[Discount] ON 

INSERT [dbo].[Discount] ([id], [description], [end_date], [name], [percentage], [start_date], [status]) VALUES (1, N'Nhân dịp khai trương chi nhánh 1, RaDe dành tặng đến các khách hàng khuyến mãi 20% cho 1 số dịch vụ, áp dụng cho tất cả chi nhánh trong cả nước', CAST(N'2022-09-03' AS Date), N'Khai trương Chi nhánh 1', 20, CAST(N'2022-01-01' AS Date), CAST(1 AS Decimal(1, 0)))
INSERT [dbo].[Discount] ([id], [description], [end_date], [name], [percentage], [start_date], [status]) VALUES (2, N'Mừng tết 2022', CAST(N'2022-07-29' AS Date), N'Tết 2022', 30, CAST(N'2022-02-15' AS Date), CAST(1 AS Decimal(1, 0)))
INSERT [dbo].[Discount] ([id], [description], [end_date], [name], [percentage], [start_date], [status]) VALUES (3, N'Mừng ngày quốc tế lao động 1/5/2022', CAST(N'2022-05-03' AS Date), N'Quốc tế lao động 2022', 15, CAST(N'2022-05-01' AS Date), CAST(1 AS Decimal(1, 0)))
SET IDENTITY_INSERT [dbo].[Discount] OFF
GO
INSERT [dbo].[Discount_Service] ([discount_id], [service_id]) VALUES (1, 2)
INSERT [dbo].[Discount_Service] ([discount_id], [service_id]) VALUES (1, 4)
INSERT [dbo].[Discount_Service] ([discount_id], [service_id]) VALUES (2, 5)
GO
SET IDENTITY_INSERT [dbo].[District] ON 

INSERT [dbo].[District] ([id], [name], [province_id]) VALUES (1, N'Quận 1', 1)
INSERT [dbo].[District] ([id], [name], [province_id]) VALUES (2, N'Quận 2', 1)
INSERT [dbo].[District] ([id], [name], [province_id]) VALUES (3, N'Quận 3', 1)
SET IDENTITY_INSERT [dbo].[District] OFF
GO
SET IDENTITY_INSERT [dbo].[Doctor] ON 

INSERT [dbo].[Doctor] ([id], [description], [name], [status], [url], [branch_id]) VALUES (1, N'Chuyên về các dịch vụ nhổ răng', N'Nguyễn Phan Quỳnh Anh', CAST(1 AS Decimal(1, 0)), N'100-lEx2cOokPvMcwaSET0x6qwAQPeVd9', 1)
INSERT [dbo].[Doctor] ([id], [description], [name], [status], [url], [branch_id]) VALUES (2, N'40 năm kinh nghiệm, chuyên về các dịch vụ trám răng', N'Nguyễn Quốc Bảo', CAST(1 AS Decimal(1, 0)), N'1kbK1M4AWgffySqv8TsrbGy6oFIunTg-_', 1)
INSERT [dbo].[Doctor] ([id], [description], [name], [status], [url], [branch_id]) VALUES (3, N'30 năm kinh nghiệm, chuyên về các dịch vụ nhổ răng', N'Phạm Xuân Kiên', CAST(1 AS Decimal(1, 0)), N'1xjj8DDcXJh2TfvnKpib3O2Jl2uOZqft9', 1)
SET IDENTITY_INSERT [dbo].[Doctor] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([id], [content], [status], [time], [appointment_id]) VALUES (1, N'Hoàn toàn có thể đi làm bình thường sau điều trị. Không hề đau vì bác sỹ rất nhẹ nhàng, sưng thì rất ít, ai để ý kỹ thì mới nhận ra được.', CAST(1 AS Decimal(1, 0)), CAST(N'2022-07-21' AS Date), 24)
INSERT [dbo].[Feedback] ([id], [content], [status], [time], [appointment_id]) VALUES (2, N'Thời gian hồi phục của mình chỉ vài ngày. Giờ thì tự tin cười thả ga rồi.', CAST(1 AS Decimal(1, 0)), CAST(N'2022-07-21' AS Date), 137)
INSERT [dbo].[Feedback] ([id], [content], [status], [time], [appointment_id]) VALUES (3, N'Mình bị hở lợi mức độ nặng và từng rất tự ti, nhưng đó là trước đây thôi. Hiện tại mình hoàn toàn có thể cười thoải mái bất cứ lúc nào thấy vui.', CAST(1 AS Decimal(1, 0)), CAST(N'2022-07-21' AS Date), 111)
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[Notification] ON 

INSERT [dbo].[Notification] ([id], [date], [description], [account_id]) VALUES (1, CAST(N'2022-07-15' AS Date), N'Khuyến mãi mới Khai trương Chi nhánh 2 trong thời gian giới hạn! Bắt đầu từ 15/07/2022 đến 03/09/2022! Ưu đãi 20.0% áp dụng cho dịch vụ: Nhổ răng khôn, Trám răng cao cấp. Chi tiết khuyến mãi: Nhân dịp khai trương chi nhánh 2, RaDe dành tặng đến các khách hàng khuyến mãi 20% cho 1 số dịch vụ, áp dụng cho tất cả chi nhánh trong cả nước', NULL)
INSERT [dbo].[Notification] ([id], [date], [description], [account_id]) VALUES (2, CAST(N'2022-07-15' AS Date), N'Nhắc yêu: Bạn có lịch hẹn khám răng vào lúc 12:00 ngày 15-07-2022 tại trung tâm nha khoa RaDe Chi nhánh 1. Nhớ đến đúng giờ nhé <3.', 4)
INSERT [dbo].[Notification] ([id], [date], [description], [account_id]) VALUES (3, CAST(N'2022-07-15' AS Date), N'Phản hồi của bạn đã được gửi tới trung tâm, cảm ơn bạn đã để lại đánh giá cho RaDe.', 4)
GO
SET IDENTITY_INSERT [dbo].[Notification] OFF
GO
SET IDENTITY_INSERT [dbo].[Province] ON 

INSERT [dbo].[Province] ([id], [name]) VALUES (3, N'Đà Nẵng')
INSERT [dbo].[Province] ([id], [name]) VALUES (4, N'Đồng Nai')
INSERT [dbo].[Province] ([id], [name]) VALUES (2, N'Hà Nội')
SET IDENTITY_INSERT [dbo].[Province] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([id], [name]) VALUES (1, N'ROLE_ADMIN')
INSERT [dbo].[Role] ([id], [name]) VALUES (2, N'ROLE_USER')
INSERT [dbo].[Role] ([id], [name]) VALUES (3, N'ROLE_STAFF')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Service] ON 

SET IDENTITY_INSERT [dbo].[Service] OFF
GO
SET IDENTITY_INSERT [dbo].[ServiceType] ON 

INSERT [dbo].[ServiceType] ([id], [description], [name]) VALUES (1, N'Các dịch vụ nhổ răng', N'Nhổ răng')
INSERT [dbo].[ServiceType] ([id], [description], [name]) VALUES (2, N'Các dịch vụ trám răng', N'Trám răng')
INSERT [dbo].[ServiceType] ([id], [description], [name]) VALUES (3, N'Các dịch vụ trồng răng, cấy ghép', N'Trồng răng')
SET IDENTITY_INSERT [dbo].[ServiceType] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_elcfjc29glu61lscdlpll66fp]    Script Date: 7/31/2022 3:20:28 PM ******/
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [UK_elcfjc29glu61lscdlpll66fp] UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_o9khk7fnh8j9cmaklyoeoj3g2]    Script Date: 7/31/2022 3:20:28 PM ******/
ALTER TABLE [dbo].[Branch] ADD  CONSTRAINT [UK_o9khk7fnh8j9cmaklyoeoj3g2] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_4cdggnrid9j1nx0qtsktqyueq]    Script Date: 7/31/2022 3:20:28 PM ******/
ALTER TABLE [dbo].[Discount] ADD  CONSTRAINT [UK_4cdggnrid9j1nx0qtsktqyueq] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UK6o8cjcs39a18p0jrqs8wx06ha]    Script Date: 7/31/2022 3:20:28 PM ******/
ALTER TABLE [dbo].[Feedback] ADD  CONSTRAINT [UK6o8cjcs39a18p0jrqs8wx06ha] UNIQUE NONCLUSTERED 
(
	[appointment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_moejme3ohebd07k2d4b70l8vh]    Script Date: 7/31/2022 3:20:28 PM ******/
ALTER TABLE [dbo].[Province] ADD  CONSTRAINT [UK_moejme3ohebd07k2d4b70l8vh] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_ms3hqgo39rpomrb6nt0hjx11b]    Script Date: 7/31/2022 3:20:28 PM ******/
ALTER TABLE [dbo].[Service] ADD  CONSTRAINT [UK_ms3hqgo39rpomrb6nt0hjx11b] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_88yki4qnw3n0ib5v5n5fwdmsf]    Script Date: 7/31/2022 3:20:28 PM ******/
ALTER TABLE [dbo].[ServiceType] ADD  CONSTRAINT [UK_88yki4qnw3n0ib5v5n5fwdmsf] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FKhhhehphq3hucqxdff9270cxlv] FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FKhhhehphq3hucqxdff9270cxlv]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FKq51sw4psvf6bx7o09xat6n3lg] FOREIGN KEY([district_id])
REFERENCES [dbo].[District] ([id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FKq51sw4psvf6bx7o09xat6n3lg]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FKa1svmrj6xe1st6edidh4oixbx] FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FKa1svmrj6xe1st6edidh4oixbx]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FKbtwn9jhf6wx7ewe6jxn8rq1kg] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[Doctor] ([id])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FKbtwn9jhf6wx7ewe6jxn8rq1kg]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FKp1q0ek0mlf6rh24s4gw1lv5x4] FOREIGN KEY([branch_id])
REFERENCES [dbo].[Branch] ([id])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FKp1q0ek0mlf6rh24s4gw1lv5x4]
GO
ALTER TABLE [dbo].[Appointment_Detail]  WITH CHECK ADD  CONSTRAINT [FKf9hobdab2vn3li2fdyjdmci5q] FOREIGN KEY([appointment_id])
REFERENCES [dbo].[Appointment] ([id])
GO
ALTER TABLE [dbo].[Appointment_Detail] CHECK CONSTRAINT [FKf9hobdab2vn3li2fdyjdmci5q]
GO
ALTER TABLE [dbo].[Appointment_Detail]  WITH CHECK ADD  CONSTRAINT [FKfjgr840659vo0br1mygl67lot] FOREIGN KEY([service_id])
REFERENCES [dbo].[Service] ([id])
GO
ALTER TABLE [dbo].[Appointment_Detail] CHECK CONSTRAINT [FKfjgr840659vo0br1mygl67lot]
GO
ALTER TABLE [dbo].[Appointment_Detail]  WITH CHECK ADD  CONSTRAINT [FKjlrlshern26egt0n3gfn8ckem] FOREIGN KEY([discount_id])
REFERENCES [dbo].[Discount] ([id])
GO
ALTER TABLE [dbo].[Appointment_Detail] CHECK CONSTRAINT [FKjlrlshern26egt0n3gfn8ckem]
GO
ALTER TABLE [dbo].[Branch]  WITH CHECK ADD  CONSTRAINT [FKmbvfqpaty4jqc8hxjnciysgr3] FOREIGN KEY([district_id])
REFERENCES [dbo].[District] ([id])
GO
ALTER TABLE [dbo].[Branch] CHECK CONSTRAINT [FKmbvfqpaty4jqc8hxjnciysgr3]
GO
ALTER TABLE [dbo].[Discount_Service]  WITH CHECK ADD  CONSTRAINT [FK62axrxg71d2firieyj4qf5bbj] FOREIGN KEY([service_id])
REFERENCES [dbo].[Service] ([id])
GO
ALTER TABLE [dbo].[Discount_Service] CHECK CONSTRAINT [FK62axrxg71d2firieyj4qf5bbj]
GO
ALTER TABLE [dbo].[Discount_Service]  WITH CHECK ADD  CONSTRAINT [FKg4rda7f81jxd1c5jd4dbecvyw] FOREIGN KEY([discount_id])
REFERENCES [dbo].[Discount] ([id])
GO
ALTER TABLE [dbo].[Discount_Service] CHECK CONSTRAINT [FKg4rda7f81jxd1c5jd4dbecvyw]
GO
ALTER TABLE [dbo].[District]  WITH CHECK ADD  CONSTRAINT [FKjxyk2jiq1rpxyv76da9sn1ygc] FOREIGN KEY([province_id])
REFERENCES [dbo].[Province] ([id])
GO
ALTER TABLE [dbo].[District] CHECK CONSTRAINT [FKjxyk2jiq1rpxyv76da9sn1ygc]
GO
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD  CONSTRAINT [FKsh99lptu4mnm5mxccfvouwigx] FOREIGN KEY([branch_id])
REFERENCES [dbo].[Branch] ([id])
GO
ALTER TABLE [dbo].[Doctor] CHECK CONSTRAINT [FKsh99lptu4mnm5mxccfvouwigx]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FKf6xuqfcus280w4gl5t5r99aqn] FOREIGN KEY([appointment_id])
REFERENCES [dbo].[Appointment] ([id])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FKf6xuqfcus280w4gl5t5r99aqn]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FKsk8oc04n2cm5gy00cegjiygpr] FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FKsk8oc04n2cm5gy00cegjiygpr]
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD  CONSTRAINT [FK7iw2mhpgrgh7q84e8ersmnwn4] FOREIGN KEY([service_type_id])
REFERENCES [dbo].[ServiceType] ([id])
GO
ALTER TABLE [dbo].[Service] CHECK CONSTRAINT [FK7iw2mhpgrgh7q84e8ersmnwn4]
GO
USE [master]
GO
