.button-search {
  font-size: 18px;
  margin: auto;
  display: flex;
  background-color: white;
  bottom: 10px;
  border: none;
  border-radius: 30px;
  padding: 5px 20px;
  /* justify-content: center; */
}

.btn-icon-cancel-appointment {
  background-color: #ebecf1;
}

.btn-icon-cancel-appointment:hover {
  background-color: green;
}

.active-check {
  background-color: rgb(10, 188, 10) !important;
}
